/* 
4. import 방식 : css 내에서 다른 css 파일을 가져와 연결
*/

/*main.css 파일의 해석이 끝나고 가져옴 (해설 속도느림,) */

/* @import url("./box.css");/ */

div{
  font-size: 70px;
  color: rgb(218, 175, 212);
  text-decoration: underline;
}