section {
  width: 80%;
  height: 1000px;
  background: top/cover no-repeat url("person1.jpg") blueviolet;
  /* background-size: cover;
  background-position: top; */
  margin: 0 auto;
}

h1 {
  font-size: 100px;
  color: white;
}
